
// Theme colours
$theme: (
  'dark':     #431220,
  'softred':  #e01b3d,
  'dullblue': #4c6d8f,
  'grey':     #999999,
  'white':    #fafbfc
);

// Generate classes from colours
@each $name, $value in $theme {
  .c-#{$name} {
    color: $value;
  }
  .bg-#{$name} {
    background-color: $value;
  }
}

// Easy name lookup
@function getColour($name) {
  @return map-get($theme, $name);
}
