// Theme colours
$darkwine:  #431220;
$softred:   #e01b3d;
$dullblue:  #4c6d8f;
$darkblue:  #313a42;

// Greys
$white:     #fafbfc;
$grey:      #999999;

$theme: (
  'darkwine': $darkwine, 'softred': $softred, 'dullblue': $dullblue, 'darkblue': $darkblue, 'white': $white, 'grey': $grey
);

// Generate classes from colours
@each $name, $value in $theme {
  .c-#{$name} {
    color: $value;
  }
  .bg-#{$name} {
    background-color: $value;
  }
}
