footer, .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;

  // Footer menu
  .footer__menu {
    ul {
      @include menu-styles();

      li { padding: 0.25rem 0; }
      a { color: $white; }
      &.menu-language { 
        opacity: 0.75; 

        li a {
          font-size: 1.25rem;
        }
      }
    }
  }
  .footer__colophon-link {
    $bgcolor: saturate(darken($darkblue, 10%), 10%);
    display: block;
    padding: 1rem 0;
    background: rgba($bgcolor, 0.5);
    color: rgba($grey, 0.75);
    text-align: center;

    @include prefix(transition, all 0.3s ease);

    &:hover {
      background: rgba($bgcolor, 0.75);
    }
    &:active {
      background: rgba($bgcolor, 1);
    }
  }
  @media screen and (max-width: 768px) {
    position: relative;

    & + .spacer {
      display: none !important;
    }
  }
}
