header, .header {
  padding: 3rem 0;
  
  .header__logo {
    height: 2.5rem;
    opacity: 0.2;

    &:hover {
      opacity: 0.4;
    }
  }
  @media only screen and (max-width: $vw_tablet) {
   padding: 2rem 0; 
  }
  @media only screen and (max-width: $vw_mobile) {
   padding: 1rem 0; 
  }
}