header, .header {
  padding: 3rem 0;

  .header__link {
    display: inline-block;

    @media only screen and (max-width: $vw_tablet) {
     padding-left: 2rem;
     padding-right: 2rem;
    }
  }
  .header__logo {
    margin: 3rem 0;
    height: 2.5rem;

    @include prefix(transition, transform 0.2s ease);

    &:active {
      @include prefix(transform, scale(1.2));
    }
    &.header__logo--alt {
      height: 4rem;
    }
  }
  @media only screen and (max-width: $vw_tablet) {
   padding: 2rem 0; 
  }
  @media only screen and (max-width: $vw_mobile) {
   padding: 1rem 0; 
  }
}