.nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* fallback */
  width: 100vw;
  height: 100%; /* fallback */
  height: 100vh;
  max-height: 100%;
  z-index: 3;
  pointer-events: none;

  @media screen and (max-width: $vw_mobile) {
    position: fixed;
  }
}
.nav-wrapper > * {
  pointer-events: all;
}
nav, .nav {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;

  padding: 2rem;

  @include prefix(background, linear-gradient(67deg, rgba($white, 1) 15%, rgba($white, 0) 55%));

  @include prefix(transform, rotate(-90deg) translate(100%, 0));
  @include prefix(transform-origin, bottom right);

  ul {
    @include menu-styles();
    
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
    a {
      font-size: 2rem;
      line-height: 3rem;
      color: $dullblue;
      text-decoration: none;
      white-space: nowrap;

      @media screen and (max-width: $vw_mobile) {
        font-size: 1.5rem;
        line-height: 2.25rem;
      }
      &.external {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: 0.25rem;
          left: 100%;
          width: 1.5rem;
          height: 1rem;
          margin-left: 0.5rem;
          background-image: url('../images/arrow_blue.svg');
          background-size: cover;
          background-position: right bottom;
          @include prefix(transition, all 0.3s ease);
          @include prefix(transform, rotate(45deg));
        }
        &:hover:after {
          @include prefix(transform, rotate(90deg) translateX(0.25rem));
        }
      }
    }
  }
}
