nav, .nav {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;

  padding: 2rem;

  @include prefix(transform, rotate(-90deg) translate(100%, 0));
  @include prefix(transform-origin, bottom right);

  ul {
    @include menu-styles();
    
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
    a {
      font-size: 2rem;
      line-height: 3rem;
      color: $dullblue;
      text-decoration: none;

      @media screen and (max-width: $vw_mobile) {
        font-size: 1.5rem;
        line-height: 2.25rem;
      }
    }
  }
}
