// Section
section, .section {

  .section__bg {
    position: relative;
  }
  .section__bg .section__bg-image {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: block;
    height: 100%;
    // background-color: $softred;
    background-position: center center;
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
    opacity: 0;
    @include prefix(transition, opacity 0.3s ease);
    -webkit-transition: -webkit-transform 0.1s ease;
    -moz-transition: -moz-transform 0.1s ease;
    transition: transform 0.1s ease;
  }
  &#intro .section__bg-image {
    // $extra_left: 6rem;
    // width: calc(100% + #{$extra_left});
    // margin-left: -$extra_left;
    // margin-right: -$extra_left;
  }
  &#intro blockquote,
  &#intro .link {
    margin-left: 5rem;
    margin-right: -10rem;

    @media only screen and (max-width: $vw_mobile) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
body.isLoaded section {
  .section__bg-image {
    opacity: 1;
  }
}
