.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  font: inherit;
  line-height: 1.5rem;
  background-color: $greylightest;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: $white;
    @include underline();
  }
  &:active {
    background-color: $softred;
    color: $white;
  }
  &:focus, &:active {
    outline: none;
  }
  &[disabled] {
    background-color: rgba($white, 0.01);
    color: rgba($white, 0.2);
    background-image: none;
  }
}
