.field {
  background: none;
  border: none;
  padding: 0.5rem;
  border-bottom: 2px solid $white;
  color: $white;
  font: inherit;

  &::-webkit-input-placeholder {
    color: rgba($white, 0.5);
  }
  &:-moz-placeholder {
    color: rgba($white, 0.5);
  }
  &::-moz-placeholder {
    color: rgba($white, 0.5);
  }
  &:-ms-input-placeholder {  
    color: rgba($white, 0.5);
  }
  &.field--big {
    padding: 1rem;
    font-size: 1.5rem;
  }
  &:hover {
    background-color: rgba($white, 0.05);
  }
  &:focus {
    background-color: rgba($white, 0.1);
    outline: none;
  }
}
textarea.field {
  resize: none;
}