.field {
  background: none;
  border: none;
  padding: 0.5rem 0;
  border-bottom: 2px solid $white;
  color: $white;
  font: inherit;

  @include prefix(transition, all 0.3s ease);

  &::-webkit-input-placeholder {
    color: rgba($white, 0.5);
  }
  &:-moz-placeholder {
    color: rgba($white, 0.5);
  }
  &::-moz-placeholder {
    color: rgba($white, 0.5);
  }
  &:-ms-input-placeholder {  
    color: rgba($white, 0.5);
  }
  &.field--big {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;

    &:hover, &:focus { padding-left: 1rem; }
  }
  &:hover {
    padding-left: 0.5rem;
    background-color: rgba($white, 0.05);
  }
  &:focus {
    padding-left: 0.5rem;
    background-color: rgba($white, 0.1);
    outline: none;
  }
}
textarea.field {
  resize: none;
}