// Link
a {
  text-decoration: none;
  color: inherit;

  &:focus, &:active {
    outline: none;
  }
}
.link {
  position: relative;
  background: inherit;
  font: inherit;
  border: none;
  margin-right: 3rem;
  padding: 0;
  display: inline-block;
  color: $softred;
  font-size: 1.2rem;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    top: 0.25rem;
    left: 100%;
    width: 4rem;
    height: 1rem;
    margin-left: 1rem;
    background-image: url('../images/arrow.svg');
    background-size: cover;
    @include prefix(transition, all 0.3s ease);
  }
  &:hover {
    @include underline();

    &:after {
      @include prefix(transform, translateX(0.5rem));
    }
  }
  &:focus, &:active {
    outline: none;
  }
  &.link--down {
    &:after {
      @include prefix(transform, rotate(90deg));
      width: 1.5rem;
      background-position: right bottom;
    }
    &:hover:after {
      @include prefix(transform, rotate(90deg) translateX(0.5rem));
    }
  }
  &.link--up {
    &:after {
      @include prefix(transform, rotate(-90deg));
      width: 1.5rem;
      background-position: right bottom;
    }
    &:hover:after {
      @include prefix(transform, rotate(-90deg) translateX(0.5rem));
    }
  }
  &.link--secondary {
    &:hover { @include underline($softred, 0.05em); }
    &:after { display: none !important; }
  }
  &.link--diagonal {
    &:after {
      @include prefix(transform, rotate(45deg));
      width: 1.5rem;
      background-position: right bottom;
    }
    &:hover:after {
      @include prefix(transform, rotate(90deg) translateX(0.5rem));
    }
  }
  &.isBusy {
    opacity: 0.5;
    pointer-events: none;

    &:before {
      content: "";
      position: absolute;
      top: -1rem;
      left: 50%;
      height: 3rem;
      width: 3rem;
      margin-left: -0.5rem;
      background: url('../images/spinner.svg');
      background-size: contain;
    }
  }
}
