.list {
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include prefix(transition, padding 0.3s ease);

  &.hasExpanded {
    padding-bottom: 0;

    .list-item:not(.isExpanded) .list-item__card {
      opacity: 0.4;
    }
  }
  @media only screen and (min-width: $vw_tablet) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.list-item {

  &.isExpanded .list-item__spacer:before {
    @include triangleTop($greylightest);
    margin-top: -4rem;
  }
  .list-item__detail {
    position: absolute;
    left: 0;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    @include prefix(transition, all 0.5s ease);
  }
  &.isExpanded .list-item__detail {
    opacity: 1;
    max-height: 1200px;
    pointer-events: all;
  }
  @media only screen and (min-width: $vw_tablet) {
    .list-item__card {
      padding-right: 3 * $u;
    }
  }
}

.list-item__child {
  position: relative;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: all;
  background-color: $greylighter;

  @include prefix(transition, all 0.5s ease);

  &.isExpanded {
    opacity: 1;
    max-height: 600px;
    overflow: visible;
    pointer-events: all;
  }
  .list-item__child-arrow {
    @include triangleTop($greylighter);
    bottom: calc(100% - 2rem);
    @include prefix(transition, all 0.2s ease);
  }
  &.isExpanded .list-item__child-arrow {
    bottom: 100%;
  }
  &.list-item__payment.isExpanded .list-item__child-arrow,
  &.list-item__bankform.isExpanded .list-item__child-arrow {
    margin-left: 35%;
  }
  form {
    max-width: 45rem;
  }
}
