.list {
  padding-top: 6rem;
  padding-bottom: 6rem;
  @include prefix(transition, padding 0.3s ease);

  &.hasExpanded {
    padding-bottom: 0;

    .list-item:not(.isExpanded) .list-item__card {
      opacity: 0.4;
    }
  }
}

.list-item {

  &.isExpanded .list-item__spacer:before {
    content: "";
    position: absolute;
    border: 2rem solid transparent;
    border-bottom-color: #e8ebed;
    margin-top: -4rem;
  }
  .list-item__detail {
    position: absolute;
    left: 0;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    // opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }
  &.isExpanded .list-item__detail {
    // opacity: 1;
    max-height: 1200px;
    pointer-events: all;
  }

}
